In [1]:
import pandas as pd

In [4]:
dados = pd.read_csv('aluguel.csv' , sep =';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [5]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 ou mais
classes = (0, 2, 4, 6, 100)

In [6]:
quartos = pd.cut(dados.Quartos, classes)

In [7]:
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
            ...
19826    (0.0, 2.0]
19827    (0.0, 2.0]
19828    (0.0, 2.0]
19829    (0.0, 2.0]
19830           NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [8]:
pd.value_counts(quartos)

C:\Users\z486958\AppData\Local\Temp\ipykernel_3016\2908359106.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(quartos)

Quartos
(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: count, dtype: int64

In [9]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 ou mais quartos']

In [12]:
quartos = pd.cut(dados.Quartos, classes, labels = labels)

In [13]:
pd.value_counts(quartos)

C:\Users\z486958\AppData\Local\Temp\ipykernel_3016\2908359106.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(quartos)

Quartos
1 e 2 quartos        11074
3 e 4 quartos         8094
5 e 6 quartos          470
7 ou mais quartos       36
Name: count, dtype: int64

In [15]:
quartos = pd.cut(dados.Quartos, classes, labels = labels, include_lowest = True)

In [16]:
pd.value_counts(quartos)

C:\Users\z486958\AppData\Local\Temp\ipykernel_3016\2908359106.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(quartos)

Quartos
1 e 2 quartos        11231
3 e 4 quartos         8094
5 e 6 quartos          470
7 ou mais quartos       36
Name: count, dtype: int64